.header-container {
  text-align : center;
  padding : 20px 10px;
}

.main-label {
  font-size : 2em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-group .dropdown-menu {
  overflow: scroll;
  -webkit-overflow-scrolling : touch;
}

.dropdown-menu .service-selection {
  text-align: left;
  padding : 5px 15px 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.dropdown-menu .service-selection h3 {
  margin : 0px;
}

.dropdown-menu .service-selection div {
  width : 100%;
  white-space : normal;
}
